[submodule "ardrone-wpa2"]
	path = ardrone-wpa2
	url = https://github.com/daraosn/ardrone-wpa2.git
[submodule "h264-live-player"]
	path = h264-live-player
	url = https://github.com/131/h264-live-player.git
