
body {
    text-align: center;
    font-family: Verdana;
    color: #111111;
}

.modes-menu {
    width: 100%;
}

.actions-menu 
{
    width: 100%;
}

.actions-menu div
{
    width: 100%;
}

.actions-menu .acro
{
    display: none;
}

.actions-menu div div 
{
    width: 50px;
    height: 50px;
}

.main-drone-img 
{
    width: 50vw;
    max-width: 600px;
}

.bottom-camera-parent 
{
    perspective: 500px;
    max-width: 100%;
}

.bottom-camera-img 
{
    transform: rotateX(45deg);
    max-width: 100%;
}